.dropDown-icon {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-style: solid;
  border-width: 4px 4px 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.link {
  position: relative;
  transition: color 0.5s;
}

.link::after {
  position: absolute;
  content: "";
  height: 2px;
  left: 0;
  bottom: -18px;
  background-color: transparent;
  width: 100%;
  transition: 0.25s;
  margin: 0 auto;
}

.link:hover::after {
  background-color: #30363d;
}

.link.active::after {
  background-color: #f78166;
}

.react-calendar-heatmap text {
  font-size: 10px !important;
  fill: #c9d1d9 !important;
}

/* .react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
} */

.react-calendar-heatmap rect:hover {
  stroke: transparent;
  stroke-width: 0px !important;
}

.react-calendar-heatmap .color-empty {
  fill: #161b22 !important;
}

/* .react-calendar-heatmap .color-scale-1 {
  fill: #f78166;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #1e6823;
} */

.react-calendar-heatmap .color-scale-0 {
  fill: #161b22;
}
.react-calendar-heatmap .color-scale-1 {
  fill: #0e4429;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #006d32;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #26a641;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #39d353;
}
